body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}

.menu-bar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    padding: 10px 40px;
}

.menu-bar nav ul {
    list-style: none;
    padding: 0;
}

.menu-bar nav ul li {
    display: inline;
    margin-right: 20px;
}

.menu-bar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-bar nav ul li a:hover {
    color: #ff9900;
}

.clientContainer {
    text-align: center;
    margin-bottom: 10px;
}

.clientInfoBox {
    width: 80%;
    padding: 20px;
    border: none;
    box-shadow: none;
    font-size: 16px;
    background: transparent;
    max-width: 400px;
    margin: 20px auto;
    color: #000;
    font-weight: bold;
}

.saveInfo {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.saveInfo:hover {
    background-color: #444;
}

.firstName,
.lastName,
.email,
.phoneNumber,
.username,
.password {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Add a light gray outline */
    border-radius: 5px; /* Remove border radius */
    color: #000;
    font-weight: bold;
}
