body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Use min-height to ensure it fits the content if it's smaller */
  background-color: rgb(246, 244, 242);
}

.menu-bar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  padding: 10px 40px;
}

.menu-bar nav ul {
  list-style: none;
  padding: 0;
}

.menu-bar nav ul li {
  display: inline;
  margin-right: 20px;
}

.menu-bar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu-bar nav ul li a:hover {
  color: #ff9900;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .animalInfo,
  .animalInfo1,
  .editAnimalInfo,
  #otherSpecies {
    width: 100%; /* Full width on smaller screens */
    margin: 10px 0; /* Adjust margins for spacing */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Reduce box shadow */
  }
  
  .name,
  .ID {
    width: 100%; /* Full width input fields */
    padding: 10px;
    margin: 10px 0;
  }
}
