body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(246, 244, 242);
}

.menu-bar {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  height: 5%;
  top: 0;
  right: 0;
  background-color: #333;
  padding: 1%;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-bar nav ul {
  list-style: none;
  padding: 0;
}

.menu-bar nav ul li {
  display: inline;
  margin-right: 3vh;
}

.menu-bar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu-bar nav ul li a:hover {
  color: #ff9900;
}

.formContainer {
  width: 70%;
  height: 70%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 5%;
  text-align: center;
  position: relative; 
  font-size: 14px;
}

.formContainer input[type="text"],
.formContainer input[type="date"] {
  font-size: 13px;
  border-radius: 3px;
}

.boxContainer :hover {
  color: #ff9900;
}

.formContainer h1,
p {
  position: sticky;
  top: 0;
  background-color: rgb(246, 244, 242); 
  z-index: 1;
  text-align: center;
}

.form {
  width: 80%;
  height: 70%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  margin: auto;
  overflow-y: auto; 
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.name,
.date,
.animalName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#mediMessage,
#statusMessage,
#issueMessage,
#commMessage {
    width: 100%;
    resize: none;
  }
  
