body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

.menu-bar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  padding: 10px 40px;
}

.menu-bar nav ul {
  list-style: none;
  padding: 0;
}

.menu-bar nav ul li {
  display: inline;
  margin-right: 20px;
}

.menu-bar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu-bar nav ul li a:hover {
  color: #ff9900;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px; /* Adjust margin as needed */
}

.searchContainer {
  width: 30%;
  height: 100%; /* Set a fixed height */
  border: 1px solid #ccc;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.formResultShow {
  width: 40%;
  height: 60vh; /* Set an appropriate height */
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.formResultShow h1 {
  padding: 0;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  text-align: center;
}
